/* forgot-password body */
.container .forgot-password-body{
    padding:70px 0;
}
/* form container */
.container .forgot-password-body .form-container{
    border: 1px solid #E4E7EB;
    border-radius:8px;
    margin:auto;
    background:#fff;
    padding:48px 0;
    width:522px;
    display:relative;
}
.container .forgot-password-body .form-container .header{
    padding:0 42px 16px 42px;
    border-bottom:1px solid #cbd2d9;
    font-size:14px;
    color:#616e7c;
}
.container .forgot-password-body .form-container .header .title{
    font-size:32px;
    font-weight:400;
    color:#000;
    padding-bottom:8px;
}
/* form */
.container .forgot-password-body .form-container form{
    padding:27px 42px;
    position:relative;
}
.container .forgot-password-body .form-container form label{
    font-size:14px;
    text-align:left;
}
.container .forgot-password-body .form-container form input[type="email"],
.container .forgot-password-body .form-container form input[type="password"]{
    display:block;
    margin:8px 0 24px 0;
    font-size:16px;
    padding:17px 16px;
    border:1px solid #cbd2d9;
    border-radius:3px;
    outline:none;
    transition:.5s ease-in-out all;
    width:92.5%;
}
.container .forgot-password-body .form-container form input[type="email"]:focus,
.container .forgot-password-body .form-container form input[type="password"]:focus{
    border:1px solid #2186eb;
    transition:.5s ease-in-out all;
}
.container .forgot-password-body .form-container form .extras{
    padding:0;
    margin-bottom:35px;
    font-size:14px;
    color:#616e7c;
}
.container .forgot-password-body .form-container form button{
    text-align:center;
    width:100%;
    padding:16px 0;
    font-size:14px;
    background:#0967D2;
    border-radius:3px;
    text-align:center;
    border:none;
    color:#fff;
    cursor:pointer;
}
.container .forgot-password-body .form-container form button:hover{
    background:#2186eb;
}